<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.cn.hnust.mapper.participants_mapper">
    <select id="get_participants_List" resultType="main.cn.hnust.model.participants">
        select * from participants
    </select>
    <select id="get_participants_by_sign_record_ID" resultType="main.cn.hnust.model.participants">
        select * from participants where sign_record_ID=#{sign_record_ID} order by user_ID;
    </select>
    <select id="get_participants_by_userid_signid" resultType="main.cn.hnust.model.participants">
        select * from participants where user_ID=#{user_ID} and sign_record_ID=#{sign_record_ID};
    </select>
    <select id="get_participants_List_by_user_ID" resultType="main.cn.hnust.model.participants">
        select * from participants where user_ID=#{user_ID};
    </select>
    <insert id="insert_participants" parameterType="main.cn.hnust.model.participants">
        insert into participants (ID,user_ID,user_name,sign_status,sign_record_ID)
        values (#{ID},#{user_ID},#{user_name},#{sign_status},#{sign_record_ID});
    </insert>
</mapper>

